* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-transition: ;
  -moz-transition: ;
  -ms-transition: ;
  -o-transition: ;
}
/* .App {
  text-align: center;
} */
.App-logo {
  width: 15px;
  height: 15px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #3daad9;
  min-height: 100px;
  display: flex;
  align-items: center;
  padding: 0px 40px;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}
span {
  word-wrap: break-word;
}
.App-footer {
  position: relative;
  height: 8vh;
  border: gainsboro solid 1px;
}
.App-content {
  max-width: 100%;
}
.todo-container {
  padding: 0;
  margin: 0;
}
.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: relative; */
  padding: 40px;
  width: 100vw;
  height: 9vh;
  border: gainsboro solid 1px;
}
.todo-text {
  font-size: 1.5rem;
  list-style: none;
  display: flex;
  justify-content: left;
  align-items: center;
  /* width: 400px; */
  /* flex-grow: 2; */
  word-wrap: break-word;
  /* border: red solid 1px; */
}

.todo-btn {
  display: flex;
  /* flex-direction: column; */
  /* border: red solid 1px; */
}
.btn-sort {
  cursor: pointer;
  width: 80px;
  height: 40px;
  background-color: white;
  border: none;
  border-radius: 5px;
  position: absolute;
  right: 40px;
  bottom: 35px;
  text-transform: uppercase;
  font-size: 1rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.btn-edit,
.btn-delete {
  cursor: pointer;
  width: 80px;
  height: 40px;
  background-color: #3daad9;
  color: white;
  border: none;
  border-radius: 5px;
  /* position: absolute;
  right: 40px; */
  text-transform: uppercase;
  font-size: 1rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.btn-delete {
  background-color: tomato;
}

.btn-add {
  cursor: pointer;
  background-color: white;
  color: darkblue;
  border: none;
  border-radius: 5px;
  position: absolute;
  left: 20px;
  top: 25%;
  text-transform: uppercase;
  font-size: 1rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.edit-input {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  font-size: 1.5rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.checkbox {
  border: violet solid 1px;
  width: 20px;
  height: 20px;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
@media only screen and (max-width: 600px) {
  .todo-btn {
    /* flex-direction: column; */
  }
}
